torch==2.7.1
mediapipe==0.10.21
opencv-python==4.11.0.86
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
matplotlib==3.10.1
PyYAML==6.0.2
pytest==8.3.5
dvc==3.59.2
pathspec==0.12.1
mlflow==2.21.3
kaggle==1.7.4.5
fiftyone==1.22.1
huggingface_hub==2.1.1
